<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
	id="WebApp_ID" version="4.0">
	<display-name>05.Project</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.jsp</welcome-file>
		<welcome-file>default.htm</welcome-file>
	</welcome-file-list>
	<!-- 에러가 났을때 코드 종류에 따라서 따로 Servlet요청을 할수있음 404(페이지찾을수없음) => 404.er 요청 => 
		해당하는 요청을 받는 Servlet => 404.jsp로 이동을 시킴 
		error-code 속성 : 에러코드 종류 (400~500)
		location : 에러났을때 요청할 정보(Servlet,jsp)
		-->
	<error-page>
		<error-code>401</error-code>
		<location>/401.er</location>
	</error-page>
	<error-page>
		<error-code>404</error-code>
		<location>/404.er</location>
	</error-page>
		<error-page>
		<error-code>500</error-code>
		<location>/500.er</location>
	</error-page>
</web-app>