<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cus">
  <select id="list" resultType="customer.CustomerDTO">
     select * from customer order by id desc
  </select>
  <delete id="delete">
  	 DELETE FROM CUSTOMER WHERE ID=#{id}
  </delete>
</mapper>